body{
  background: rgb(240,240,240);
  color: rgb(20, 20, 20);
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 24px;
  color: #6A71E1;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}


#banner{
  text-align: center;
  color: white;
  padding: 150px 0px;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%), url("https://picsum.photos/1000/600?random");
  background-size: cover;
  background-position: center;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 40px;
}

.btn-blue {
  color: white;
  background: #6772e5;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  border-radius: 4px;
  padding: 15px 20px;
}
.btn-blue:hover {
  background: #7795f8;
  color: white;
}

.container {
  width: 100%;
}

.card{
  background-color: white;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(50,50,93,.11);
  padding: 18px;
  margin: 16px 0px;
}
.card img {
  margin-bottom: 20px;
  height: 230px;
}

#features {
  padding: 64px 0;
}

#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}


#footer a {
  color: lightgrey;
  font-size: 30px;
}
#footer a:hover {
  color: white;
}
